In [1]:
import pandas as pd
import numpy as np
import time
import datetime

In [2]:
df_stocks = pd.read_csv("data/tab2/Stocks.txt", sep=" ")
df_stocks

,country,country_code,continent,population,year_week,weekly_count_cases,rate_14_day_cases,cumulative_count_cases,weekly_count_deaths,rate_14_day_deaths,...,SBUX - Low,SBUX - Close,SBUX - Adj.Close,SBUX - Volume,PEP - Open,PEP - High,PEP - Low,PEP - Close,PEP - Adj.Close,PEP - Volume
0,United States,USA,America,331002647,2019-27,0,0.000000,0,0,0.000000,...,85.352499,86.410002,83.568876,6923150,132.487499,133.129997,131.685005,132.827499,126.280561,3248325
1,United States,USA,America,331002647,2019-28,0,0.000000,0,0,0.000000,...,87.721998,88.378000,85.472156,5765460,133.342001,134.084000,132.117999,133.268002,126.699354,5730920
2,United States,USA,America,331002647,2019-29,0,0.000000,0,0,0.000000,...,89.832001,90.458002,87.483769,6712820,133.476001,134.014001,131.920001,132.739999,126.197379,3984660
3,United States,USA,America,331002647,2019-30,0,0.000000,0,0,0.000000,...,90.916000,92.354001,89.317432,9517340,130.178003,131.039999,129.152002,130.088003,123.676091,4228640
4,United States,USA,America,331002647,2019-31,0,0.000000,0,0,0.000000,...,95.322000,96.050000,92.891905,8613780,129.875999,130.567999,128.183997,128.975998,122.618892,5086320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,United States,USA,America,331002647,2021-04,1024054,719.884575,26321125,22226,138.198291,...,99.231999,100.194000,99.769252,9482560,139.363999,140.800000,137.729999,139.156000,138.053653,5404680
83,United States,USA,America,331002647,2021-05,687440,517.063539,27008565,20127,127.953660,...,100.479999,102.274001,101.840434,6611260,138.084000,139.663999,137.410001,138.804001,137.704449,3935020
84,United States,USA,America,331002647,2021-06,685603,414.813299,27694168,22843,129.817693,...,105.047999,105.902002,105.453055,3873580,139.310001,139.578000,136.707999,137.307999,136.220294,5489080
85,United States,USA,America,331002647,2021-07,495991,356.974185,28190159,11364,103.343584,...,103.870001,104.732502,104.620003,4722375,134.425000,135.174999,133.364998,134.180001,133.117073,4470800
86,United States,USA,America,331002647,2021-08,415502,275.373327,28605661,15402,80.863402,...,101.814000,103.812000,103.812000,8829940,131.692001,132.437997,130.326001,131.210000,130.170602,6206500

In [3]:
df_stocks["year"] = df_stocks["year_week"].str[:4].astype(int)
df_stocks["week"] = df_stocks["year_week"].str[5:].astype(int)

In [4]:
df_stocks["Year-Week"] = df_stocks["year_week"]
df_stocks.drop(df_stocks.loc[:,"country":"cumulative_count_deaths"].columns, axis=1, inplace=True)

In [5]:
df_stocks

,NKE - Open,NKE - High,NKE - Low,NKE - Close,NKE - Adj.Close,NKE - Volume,AAPL - Open,AAPL - High,AAPL - Low,AAPL - Close,...,SBUX - Volume,PEP - Open,PEP - High,PEP - Low,PEP - Close,PEP - Adj.Close,PEP - Volume,year,week,Year-Week
0,85.355002,86.237501,84.915001,85.847500,84.425604,6057050,50.700626,51.071251,50.474999,50.807500,...,6923150,132.487499,133.129997,131.685005,132.827499,126.280561,3248325,2019,27,2019-27
1,87.706000,88.774001,87.318001,88.274002,86.811918,5488100,50.381000,50.751499,50.134500,50.477000,...,5765460,133.342001,134.084000,132.117999,133.268002,126.699354,5730920,2019,28,2019-28
2,88.467999,88.782001,87.662001,87.914001,86.457876,5053500,51.125999,51.472500,50.841500,51.065501,...,6712820,133.476001,134.014001,131.920001,132.739999,126.197379,3984660,2019,29,2019-29
3,86.822000,87.327998,86.345999,86.837999,85.399701,5417340,51.807500,52.213000,51.596999,51.974500,...,9517340,130.178003,131.039999,129.152002,130.088003,123.676091,4228640,2019,30,2019-30
4,85.870000,86.612000,84.516000,85.022000,83.613785,6079980,52.653500,53.331500,51.771001,52.197499,...,8613780,129.875999,130.567999,128.183997,128.975998,122.618892,5086320,2019,31,2019-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,135.056000,136.257999,132.674002,134.396002,134.123318,6507440,141.090002,142.484002,137.045999,139.438001,...,9482560,139.363999,140.800000,137.729999,139.156000,138.053653,5404680,2021,4,2021-04
83,138.603998,140.518002,137.653998,139.934003,139.650089,5372400,135.778000,136.456000,133.919998,135.444000,...,6611260,138.084000,139.663999,137.410001,138.804001,137.704449,3935020,2021,5,2021-05
84,143.462000,144.100003,141.841998,142.663998,142.374539,4264900,135.875998,136.750003,134.526001,135.762000,...,3873580,139.310001,139.578000,136.707999,137.307999,136.220294,5489080,2021,6,2021-06
85,143.269997,144.704998,140.987503,143.202503,142.911957,5820825,131.545002,132.235001,129.617500,130.902500,...,4722375,134.425000,135.174999,133.364998,134.180001,133.117073,4470800,2021,7,2021-07
86,137.225998,138.256003,133.935999,135.753998,135.533252,7606860,124.795999,126.659999,121.592000,123.892000,...,8829940,131.692001,132.437997,130.326001,131.210000,130.170602,6206500,2021,8,2021-08

In [6]:
var_names = ["Open","High","Low","Close","Volume","Adj Close"]

In [7]:
df_combined = df_stocks.melt(id_vars=["year","week"])
df_combined

      year  week    variable      value
0     2019    27  NKE - Open  85.355002
1     2019    28  NKE - Open     87.706
2     2019    29  NKE - Open  88.467999
3     2019    30  NKE - Open     86.822
4     2019    31  NKE - Open      85.87
...    ...   ...         ...        ...
3214  2021     4   Year-Week    2021-04
3215  2021     5   Year-Week    2021-05
3216  2021     6   Year-Week    2021-06
3217  2021     7   Year-Week    2021-07
3218  2021     8   Year-Week    2021-08

[3219 rows x 4 columns]

In [8]:
df_test = df_combined.groupby(["year","week","variable"]).sum()

In [9]:
df_test

                                 value
year week variable
2019 27   AAPL - Adj.Close   49.956957
          AAPL - Close         50.8075
          AAPL - High        51.071251
          AAPL - Low         50.474999
          AAPL - Open        50.700626
...                                ...
2021 8    SBUX - High       105.217999
          SBUX - Low           101.814
          SBUX - Open          103.128
          SBUX - Volume        8829940
          Year-Week            2021-08

[3219 rows x 1 columns]

In [10]:
df_combined["Brand Abbreviation"] = df_combined["variable"].str.split(" - ").str[0]
df_combined["OHLC"] = df_combined["variable"].str.split(" - ").str[1]

In [11]:
# Transpose the OHLC column
df_combined = df_combined.pivot_table(index=["year","week","Brand Abbreviation"], columns="OHLC", values="value").reset_index()
df_combined = df_combined.rename_axis(None, axis=1)

In [12]:
df_combined.sort_values(by=["Brand Abbreviation","year","week"], inplace=True)
df_combined = df_combined.round(2)

In [13]:
df_combined

,year,week,Brand Abbreviation,Adj.Close,Close,High,Low,Open,Volume
0,2019,27,AAPL,49.96,50.81,51.07,50.47,50.70,72815700.0
6,2019,28,AAPL,49.63,50.48,50.75,50.13,50.38,81280560.0
12,2019,29,AAPL,50.21,51.07,51.47,50.84,51.13,69913280.0
18,2019,30,AAPL,51.10,51.97,52.21,51.60,51.81,69722560.0
24,2019,31,AAPL,51.32,52.20,53.33,51.77,52.65,175816400.0
...,...,...,...,...,...,...,...,...,...
497,2021,4,SBUX,99.77,100.19,101.85,99.23,100.99,9482560.0
503,2021,5,SBUX,101.84,102.27,103.31,100.48,100.75,6611260.0
509,2021,6,SBUX,105.45,105.90,106.49,105.05,106.21,3873580.0
515,2021,7,SBUX,104.62,104.73,105.67,103.87,104.63,4722375.0
521,2021,8,SBUX,103.81,103.81,105.22,101.81,103.13,8829940.0

In [14]:
df_ABNB = pd.read_csv("data/tab2/ABNB_stock_data.csv")
df_ABNB = df_ABNB.round(2)

In [15]:
df_ABNB["year"] = df_ABNB["Date"].str[:4].astype(int)
df_ABNB["Brand Abbreviation"] = "ABNB"
df_ABNB.rename(columns={"Adj Close":"Adj.Close"}, inplace=True)
df_ABNB

,Date,Open,High,Low,Close,Adj.Close,Volume,year,Brand Abbreviation
0,2020-12-07,146.55,151.50,135.10,139.25,139.25,26980800,2020,ABNB
1,2020-12-14,135.00,159.00,121.50,157.30,157.30,79299000,2020,ABNB
2,2020-12-21,155.31,174.97,145.11,154.84,154.84,37134600,2020,ABNB
3,2020-12-28,158.60,163.64,143.12,146.80,146.80,17889700,2020,ABNB
4,2021-01-04,150.99,155.54,137.00,149.77,149.77,25696400,2021,ABNB
5,2021-01-11,147.99,187.42,143.61,169.27,169.27,41957400,2021,ABNB
6,2021-01-18,173.00,185.31,155.33,181.87,181.87,37958000,2021,ABNB
7,2021-01-25,186.05,216.00,170.03,183.63,183.63,36561100,2021,ABNB
8,2021-02-01,187.48,197.25,177.11,195.31,195.31,18961200,2021,ABNB
9,2021-02-08,199.93,219.94,191.50,212.68,212.68,20108000,2021,ABNB
10,2021-02-15,216.24,218.78,192.17,201.07,201.07,12975700,2021,ABNB
11,2021-02-22,200.70,214.10,175.00,206.35,206.35,46497200,2021,ABNB

In [16]:
# Get week number from date
df_ABNB["week"] = pd.to_datetime(df_ABNB["Date"]).dt.week

C:\Users\Toni\AppData\Local\Temp\ipykernel_9680\2126186658.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df_ABNB["week"] = pd.to_datetime(df_ABNB["Date"]).dt.week

In [17]:
# Add df_ABNB to df_combined
df_combined = pd.concat([df_combined, df_ABNB[["year","week","Brand Abbreviation","Adj.Close","Close","High","Low","Open","Volume"]]], axis=0)

In [18]:
df_combined

,year,week,Brand Abbreviation,Adj.Close,Close,High,Low,Open,Volume
0,2019,27,AAPL,49.96,50.81,51.07,50.47,50.70,72815700.0
6,2019,28,AAPL,49.63,50.48,50.75,50.13,50.38,81280560.0
12,2019,29,AAPL,50.21,51.07,51.47,50.84,51.13,69913280.0
18,2019,30,AAPL,51.10,51.97,52.21,51.60,51.81,69722560.0
24,2019,31,AAPL,51.32,52.20,53.33,51.77,52.65,175816400.0
...,...,...,...,...,...,...,...,...,...
7,2021,4,ABNB,183.63,183.63,216.00,170.03,186.05,36561100.0
8,2021,5,ABNB,195.31,195.31,197.25,177.11,187.48,18961200.0
9,2021,6,ABNB,212.68,212.68,219.94,191.50,199.93,20108000.0
10,2021,7,ABNB,201.07,201.07,218.78,192.17,216.24,12975700.0
11,2021,8,ABNB,206.35,206.35,214.10,175.00,200.70,46497200.0

In [19]:
df_combined["Brand Abbreviation"].unique()

array(['AAPL', 'HNNMY', 'KO', 'NKE', 'PEP', 'SBUX', 'ABNB'], dtype=object)

In [7]:
# Create a dictionary to map the brand abbreviations to the full brand names and create new column
brand_names = {"AAPL":"Apple","ABNB":"Airbnb","HNNMY": "HM", "KO":"Coca-Cola", "NKE":"Nike", "SBUX":"Starbucks","PEP": "Pepsi"}
df_combined["Brand Name"] = df_combined["Brand Abbreviation"].map(brand_names)
df_combined["Year-Week"] = df_combined["year"].astype(str) + "-" + df_combined["week"].astype(str).str.zfill(2)
df_combined

In [21]:
df_combined[df_combined["Brand Name"] == "Apple"]

,year,week,Brand Abbreviation,Adj.Close,Close,High,Low,Open,Volume,Brand Name,Year-Week
0,2019,27,AAPL,49.96,50.81,51.07,50.47,50.70,72815700.0,Apple,2019-27
6,2019,28,AAPL,49.63,50.48,50.75,50.13,50.38,81280560.0,Apple,2019-28
12,2019,29,AAPL,50.21,51.07,51.47,50.84,51.13,69913280.0,Apple,2019-29
18,2019,30,AAPL,51.10,51.97,52.21,51.60,51.81,69722560.0,Apple,2019-30
24,2019,31,AAPL,51.32,52.20,53.33,51.77,52.65,175816400.0,Apple,2019-31
...,...,...,...,...,...,...,...,...,...,...,...
492,2021,4,AAPL,139.23,139.44,142.48,137.05,141.09,143329560.0,Apple,2021-04
498,2021,5,AAPL,135.28,135.44,136.46,133.92,135.78,87826640.0,Apple,2021-05
504,2021,6,AAPL,135.76,135.76,136.75,134.53,135.88,69060340.0,Apple,2021-06
510,2021,7,AAPL,130.90,130.90,132.24,129.62,131.55,90755075.0,Apple,2021-07
516,2021,8,AAPL,123.89,123.89,126.66,121.59,124.80,137149760.0,Apple,2021-08

In [22]:
df_combined["week increment"] = 0
for brand in df_combined["Brand Name"].unique():
    if brand != "Airbnb":
        df_combined.loc[df_combined["Brand Name"] == brand, "week increment"] = np.arange(0,df_combined[df_combined["Brand Name"] == brand].shape[0]) + 1

In [23]:
df_combined

,year,week,Brand Abbreviation,Adj.Close,Close,High,Low,Open,Volume,Brand Name,Year-Week,week increment
0,2019,27,AAPL,49.96,50.81,51.07,50.47,50.70,72815700.0,Apple,2019-27,1
6,2019,28,AAPL,49.63,50.48,50.75,50.13,50.38,81280560.0,Apple,2019-28,2
12,2019,29,AAPL,50.21,51.07,51.47,50.84,51.13,69913280.0,Apple,2019-29,3
18,2019,30,AAPL,51.10,51.97,52.21,51.60,51.81,69722560.0,Apple,2019-30,4
24,2019,31,AAPL,51.32,52.20,53.33,51.77,52.65,175816400.0,Apple,2019-31,5
...,...,...,...,...,...,...,...,...,...,...,...,...
7,2021,4,ABNB,183.63,183.63,216.00,170.03,186.05,36561100.0,Airbnb,2021-04,0
8,2021,5,ABNB,195.31,195.31,197.25,177.11,187.48,18961200.0,Airbnb,2021-05,0
9,2021,6,ABNB,212.68,212.68,219.94,191.50,199.93,20108000.0,Airbnb,2021-06,0
10,2021,7,ABNB,201.07,201.07,218.78,192.17,216.24,12975700.0,Airbnb,2021-07,0
11,2021,8,ABNB,206.35,206.35,214.10,175.00,200.70,46497200.0,Airbnb,2021-08,0

In [24]:
df_combined[(df_combined["Brand Name"] == "Apple") & (df_combined["week increment"] >= 76)]["week increment"].to_list()

[76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87]

In [25]:
# Set Airbnb week equal to other brands
df_combined.loc[df_combined["Brand Name"] == "Airbnb", "week increment"] = df_combined[(df_combined["Brand Name"] == "Apple") & (df_combined["week increment"] >= 76)]["week increment"].to_list()

In [26]:
df_combined["week increment"] = df_combined["week increment"].astype(int)
df_combined

,year,week,Brand Abbreviation,Adj.Close,Close,High,Low,Open,Volume,Brand Name,Year-Week,week increment
0,2019,27,AAPL,49.96,50.81,51.07,50.47,50.70,72815700.0,Apple,2019-27,1
6,2019,28,AAPL,49.63,50.48,50.75,50.13,50.38,81280560.0,Apple,2019-28,2
12,2019,29,AAPL,50.21,51.07,51.47,50.84,51.13,69913280.0,Apple,2019-29,3
18,2019,30,AAPL,51.10,51.97,52.21,51.60,51.81,69722560.0,Apple,2019-30,4
24,2019,31,AAPL,51.32,52.20,53.33,51.77,52.65,175816400.0,Apple,2019-31,5
...,...,...,...,...,...,...,...,...,...,...,...,...
7,2021,4,ABNB,183.63,183.63,216.00,170.03,186.05,36561100.0,Airbnb,2021-04,83
8,2021,5,ABNB,195.31,195.31,197.25,177.11,187.48,18961200.0,Airbnb,2021-05,84
9,2021,6,ABNB,212.68,212.68,219.94,191.50,199.93,20108000.0,Airbnb,2021-06,85
10,2021,7,ABNB,201.07,201.07,218.78,192.17,216.24,12975700.0,Airbnb,2021-07,86
11,2021,8,ABNB,206.35,206.35,214.10,175.00,200.70,46497200.0,Airbnb,2021-08,87

In [27]:
# Create lagged variable for Adj.Close
df_combined["Adj.Close_Lag_1"] = df_combined.groupby(["Brand Name"])["Adj.Close"].shift(1).to_frame()

In [28]:
df_combined["pct_change"] = (df_combined["Adj.Close"] - df_combined["Adj.Close_Lag_1"]) / df_combined["Adj.Close_Lag_1"]
df_combined

,year,week,Brand Abbreviation,Adj.Close,Close,High,Low,Open,Volume,Brand Name,Year-Week,week increment,Adj.Close_Lag_1,pct_change
0,2019,27,AAPL,49.96,50.81,51.07,50.47,50.70,72815700.0,Apple,2019-27,1,NaN,NaN
6,2019,28,AAPL,49.63,50.48,50.75,50.13,50.38,81280560.0,Apple,2019-28,2,49.96,-0.006605
12,2019,29,AAPL,50.21,51.07,51.47,50.84,51.13,69913280.0,Apple,2019-29,3,49.63,0.011686
18,2019,30,AAPL,51.10,51.97,52.21,51.60,51.81,69722560.0,Apple,2019-30,4,50.21,0.017726
24,2019,31,AAPL,51.32,52.20,53.33,51.77,52.65,175816400.0,Apple,2019-31,5,51.10,0.004305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,2021,4,ABNB,183.63,183.63,216.00,170.03,186.05,36561100.0,Airbnb,2021-04,83,181.87,0.009677
8,2021,5,ABNB,195.31,195.31,197.25,177.11,187.48,18961200.0,Airbnb,2021-05,84,183.63,0.063606
9,2021,6,ABNB,212.68,212.68,219.94,191.50,199.93,20108000.0,Airbnb,2021-06,85,195.31,0.088936
10,2021,7,ABNB,201.07,201.07,218.78,192.17,216.24,12975700.0,Airbnb,2021-07,86,212.68,-0.054589
11,2021,8,ABNB,206.35,206.35,214.10,175.00,200.70,46497200.0,Airbnb,2021-08,87,201.07,0.026260

In [29]:
df_combined.loc[df_combined["year"] == 2021, "week"] = df_combined.loc[df_combined["year"] == 2021, "week"] + 1
dates = df_combined.year*100+df_combined.week - 1
df_combined['Date'] = pd.to_datetime(dates.astype(str) + '0', format='%Y%W%w')
df_combined.loc[df_combined["year"] == 2021, "week"] = df_combined.loc[df_combined["year"] == 2021, "week"] - 1
df_combined

,year,week,Brand Abbreviation,Adj.Close,Close,High,Low,Open,Volume,Brand Name,Year-Week,week increment,Adj.Close_Lag_1,pct_change,Date
0,2019,27,AAPL,49.96,50.81,51.07,50.47,50.70,72815700.0,Apple,2019-27,1,NaN,NaN,2019-07-07
6,2019,28,AAPL,49.63,50.48,50.75,50.13,50.38,81280560.0,Apple,2019-28,2,49.96,-0.006605,2019-07-14
12,2019,29,AAPL,50.21,51.07,51.47,50.84,51.13,69913280.0,Apple,2019-29,3,49.63,0.011686,2019-07-21
18,2019,30,AAPL,51.10,51.97,52.21,51.60,51.81,69722560.0,Apple,2019-30,4,50.21,0.017726,2019-07-28
24,2019,31,AAPL,51.32,52.20,53.33,51.77,52.65,175816400.0,Apple,2019-31,5,51.10,0.004305,2019-08-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,2021,4,ABNB,183.63,183.63,216.00,170.03,186.05,36561100.0,Airbnb,2021-04,83,181.87,0.009677,2021-01-31
8,2021,5,ABNB,195.31,195.31,197.25,177.11,187.48,18961200.0,Airbnb,2021-05,84,183.63,0.063606,2021-02-07
9,2021,6,ABNB,212.68,212.68,219.94,191.50,199.93,20108000.0,Airbnb,2021-06,85,195.31,0.088936,2021-02-14
10,2021,7,ABNB,201.07,201.07,218.78,192.17,216.24,12975700.0,Airbnb,2021-07,86,212.68,-0.054589,2021-02-21
11,2021,8,ABNB,206.35,206.35,214.10,175.00,200.70,46497200.0,Airbnb,2021-08,87,201.07,0.026260,2021-02-28

In [30]:
# add 1 to week number to get the correct week number for year 2021

In [31]:
df_combined

,year,week,Brand Abbreviation,Adj.Close,Close,High,Low,Open,Volume,Brand Name,Year-Week,week increment,Adj.Close_Lag_1,pct_change,Date
0,2019,27,AAPL,49.96,50.81,51.07,50.47,50.70,72815700.0,Apple,2019-27,1,NaN,NaN,2019-07-07
6,2019,28,AAPL,49.63,50.48,50.75,50.13,50.38,81280560.0,Apple,2019-28,2,49.96,-0.006605,2019-07-14
12,2019,29,AAPL,50.21,51.07,51.47,50.84,51.13,69913280.0,Apple,2019-29,3,49.63,0.011686,2019-07-21
18,2019,30,AAPL,51.10,51.97,52.21,51.60,51.81,69722560.0,Apple,2019-30,4,50.21,0.017726,2019-07-28
24,2019,31,AAPL,51.32,52.20,53.33,51.77,52.65,175816400.0,Apple,2019-31,5,51.10,0.004305,2019-08-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,2021,4,ABNB,183.63,183.63,216.00,170.03,186.05,36561100.0,Airbnb,2021-04,83,181.87,0.009677,2021-01-31
8,2021,5,ABNB,195.31,195.31,197.25,177.11,187.48,18961200.0,Airbnb,2021-05,84,183.63,0.063606,2021-02-07
9,2021,6,ABNB,212.68,212.68,219.94,191.50,199.93,20108000.0,Airbnb,2021-06,85,195.31,0.088936,2021-02-14
10,2021,7,ABNB,201.07,201.07,218.78,192.17,216.24,12975700.0,Airbnb,2021-07,86,212.68,-0.054589,2021-02-21
11,2021,8,ABNB,206.35,206.35,214.10,175.00,200.70,46497200.0,Airbnb,2021-08,87,201.07,0.026260,2021-02-28

In [32]:
# Save to csv
df_combined.to_csv("data/tab2/aggregated_stocks_values.csv", index=False)

In [2]:
df_combined = pd.read_csv("data/tab2/aggregated_stocks_values.csv")

In [3]:
brands = df_combined["Brand Abbreviation"].unique()

In [5]:
# Scrape stock data from yahoo finance
df_day = pd.DataFrame()
df_week = pd.DataFrame()
for brand in brands:
    period1 = int(time.mktime(datetime.datetime(2019, 7, 1, 00, 00).timetuple()))
    period2 = int(time.mktime(datetime.datetime(2021, 3, 28, 23, 59).timetuple()))
    if brand == "NKE":
        period2 = int(time.mktime(datetime.datetime(2021, 4, 25, 23, 59).timetuple()))
    day = "1d"
    week = "1wk"
    
    query_string_day = f'https://query1.finance.yahoo.com/v7/finance/download/{brand}?period1={period1}&period2={period2}&interval={day}&events=history&includeAdjustedClose=true'
    query_string_week = f'https://query1.finance.yahoo.com/v7/finance/download/{brand}?period1={period1}&period2={period2}&interval={week}&events=history&includeAdjustedClose=true'
    df_day_brand = pd.read_csv(query_string_day).round(2)
    df_week_brand = pd.read_csv(query_string_week).round(2)
    
    df_day_brand["Brand Abbreviation"] = brand
    df_week_brand["Brand Abbreviation"] = brand
    df_day = pd.concat([df_day, df_day_brand], axis=0)
    df_week = pd.concat([df_week, df_week_brand], axis=0)

# ticker = 'AAPL'
# period1 = int(time.mktime(datetime.datetime(2020, 12, 1, 23, 59).timetuple()))
# period2 = int(time.mktime(datetime.datetime(2020, 12, 31, 23, 59).timetuple()))
# interval = '1d' # 1d, 1m

# query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

# df = pd.read_csv(query_string).round(2)
# df
# print(df)
# df.to_csv('AAPL.csv')

In [8]:
df_day["pct_change"] = df_day.groupby(["Brand Abbreviation"])["Close"].pct_change(1)*100
df_week["pct_change"] = df_week.groupby(["Brand Abbreviation"])["Close"].pct_change(1)*100
df_day["Brand Name"] = df_day["Brand Abbreviation"].map(brand_names)
df_week["Brand Name"] = df_week["Brand Abbreviation"].map(brand_names)

In [11]:
df_day.to_csv("data/tab2/aggregated_stocks_values_days.csv", index=False)
df_week.to_csv("data/tab2/aggregated_stocks_values_weeks.csv", index=False)

In [18]:
df_day = pd.read_csv("data/tab2/aggregated_stocks_values_days.csv")
df_week = pd.read_csv("data/tab2/aggregated_stocks_values_weeks.csv")

In [7]:
# Calcualte cumulative returns for each brand by dividing the current Close value by the initial value
df_day["cumulative_returns"] = df_day.groupby(["Brand Abbreviation"])["Close"].transform(lambda x: (x / x.iloc[0]-1)*100)
df_week["cumulative_returns"] = df_week.groupby(["Brand Abbreviation"])["Close"].transform(lambda x: (x / x.iloc[0]-1)*100)

In [32]:
# Create color column for the plot
# df_day["pct_change_color"] = np.where(df_day["pct_change"]<0, 'crimson', '#1f77b4')
# df_week["pct_change_color"] = np.where(df_week["pct_change"]<0, 'crimson', '#1f77b4')
# df_day["cumulative_returns_color"] = np.where(df_day["cumulative_returns"]<0, 'crimson', '#1f77b4')
# df_week["cumulative_returns_color"] = np.where(df_week["cumulative_returns"]<0, 'crimson', '#1f77b4')
# df_day = df_day.drop(columns=["pct_change_color", "cumulative_returns_color"])
# df_week = df_week.drop(columns=["pct_change_color", "cumulative_returns_color"])

In [11]:
# df_day["cumulative_returns"] = (df_day["Close"]-df_day["Close"].iloc[0])/df_day["Close"].iloc[0]
# df_day["cumulative_returns"] = df_day["cumulative_returns"]*100
# df_day

,Date,Open,High,Low,Close,Adj Close,Volume,Brand Abbreviation,pct_change,Brand Name,cumulative_returns
0,2019-07-01,50.79,51.12,50.16,50.39,49.03,109012000,AAPL,NaN,Apple,0.000000
1,2019-07-02,50.35,50.78,50.34,50.68,49.32,67740800,AAPL,0.575511,Apple,0.575511
2,2019-07-03,50.82,51.11,50.67,51.10,49.73,45448000,AAPL,0.828729,Apple,1.409010
3,2019-07-05,50.84,51.27,50.72,51.06,49.68,69062000,AAPL,-0.078278,Apple,1.329629
4,2019-07-08,50.20,50.35,49.60,50.01,48.66,101354400,AAPL,-2.056404,Apple,-0.754118
...,...,...,...,...,...,...,...,...,...,...,...
2534,2021-02-16,216.24,218.78,209.09,209.86,209.86,3487900,ABNB,-1.325936,Airbnb,316.471522
2535,2021-02-17,207.05,208.76,196.02,201.96,201.96,4090600,ABNB,-3.764414,Airbnb,300.793808
2536,2021-02-18,199.01,200.36,192.17,198.04,198.04,2791400,ABNB,-1.940978,Airbnb,293.014487
2537,2021-02-19,203.95,205.55,200.18,201.07,201.07,2605800,ABNB,1.529994,Airbnb,299.027585
2538,2021-02-22,200.70,205.00,193.50,195.34,195.34,3674200,ABNB,-2.849754,Airbnb,287.656281

In [12]:
# df_week["cumulative_returns"] = (df_week["Close"]-df_week["Close"].iloc[0])/df_week["Close"].iloc[0]
# df_week["cumulative_returns"] = df_week["cumulative_returns"]*100
# df_week

,Date,Open,High,Low,Close,Adj Close,Volume,Brand Abbreviation,pct_change,Brand Name,cumulative_returns
0,2019-07-01,50.79,51.27,50.16,51.06,49.68,291262800,AAPL,NaN,Apple,0.000000
1,2019-07-08,50.20,51.10,49.60,50.83,49.46,406402800,AAPL,-0.450450,Apple,-0.450450
2,2019-07-15,51.02,51.62,50.59,50.65,49.28,349566400,AAPL,-0.354122,Apple,-0.802977
3,2019-07-22,50.91,52.43,50.90,51.94,50.54,348612800,AAPL,2.546890,Apple,1.723463
4,2019-07-29,52.12,55.34,50.41,51.01,49.63,879082000,AAPL,-1.790528,Apple,-0.097924
...,...,...,...,...,...,...,...,...,...,...,...
529,2021-01-25,186.05,216.00,170.03,183.63,183.63,36561100,ABNB,0.967724,Airbnb,259.635723
530,2021-02-01,187.48,197.25,177.11,195.31,195.31,18961200,ABNB,6.360616,Airbnb,282.510772
531,2021-02-08,199.93,219.94,191.50,212.68,212.68,20108000,ABNB,8.893554,Airbnb,316.529573
532,2021-02-15,216.24,218.78,192.17,201.07,201.07,12975700,ABNB,-5.458905,Airbnb,293.791618
533,2021-02-22,200.70,205.00,193.50,195.34,195.34,3674200,ABNB,-2.849754,Airbnb,282.569526